if (params.premap_star_index && params.premap_exclude_bed) {
    process {
        withName: '.*:PREMAP_STAR:STAR_ALIGN' {
            ext.args = [
                '--runRNGseed 0',
                '--twopassMode None',
                '--alignEndsType Local',
                '--outSAMtype BAM Unsorted',
                '--readFilesCommand zcat',
                '--outFilterMultimapNmax 20',
                '--outFilterType BySJout',
                '--alignSJDBoverhangMin 1',
                '--alignSJoverhangMin 8',
                '--outReadsUnmapped Fastx',
            ].join(' ').trim()
            cpus = 6
            memory =  { check_max( 128.GB * task.attempt, 'memory'  ) }
            publishDir = [
                [
                    path: { "${params.outdir}/pre-mapped/log/${meta.id}/" },
                    mode: params.publish_dir_mode,
                    pattern: '*.{out,tab}'
                ],
            ]
        }

        withName: '.*:PREMAP_STAR:PROCESS_PREMAPPED_READS' {
            ext.args   = ''
            cpus = 6
            memory =  { check_max( 24.GB * task.attempt, 'memory'  ) }
            publishDir = [
                [
                    path: { params.save_premapped ? "${params.outdir}/pre-mapped" : params.outdir },
                    mode: params.publish_dir_mode,
                    pattern: '*.excluded.{bam,bam.bai}',
                    saveAs: { params.save_premapped ? it : null }
                ],
                [
                    path: { params.save_premapped ? "${params.outdir}/pre-mapped/broken-fastq" : params.outdir },
                    mode: params.publish_dir_mode,
                    pattern: '*.{singletons,broken}.fq.gz',
                    saveAs: { params.save_premapped ? it : null }
                ],
            ]
        }
    }
}
